@import '../variables';

.articles {
  min-height: 200px;
  background-color: #f6f7fd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 80%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 96%;
  }
}

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

.anchor {
  border: none;
  background: transparent;

  a {
    @include button;
    text-decoration: none;
    color: white;

    &:hover {
      @include buttonHover;
    }
  }
}