@import '../variables'

.footer
  height: 30vh
  display: flex

  justify-content: center
  align-items: center
  background-color: #041230
  color: white

.container
  width: 80%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.footerMainBlock
  width: 35%
  display: flex
  justify-content: space-between

.footerItem
  width: 4vw
  height: 4vw
  margin: 5% 0
  img
    width: 80%
  img:hover
    @include socialNetworkHover
    border-radius: 15px
  @media screen and (max-width: 800px)
    width: 45px
    height: 45px

.footerItem:nth-last-child(1)
  img:hover
    @include socialNetworkHover
    border-radius: 40px

.anchor
  @include button
  width: 40px
  height: 40px
  display: flex
  justify-content: center
  position: fixed
  z-index: 100
  top: 40vw
  left: 92vw
  img
    width: 20%

.anchor:before
  @include buttonBefore

.anchor:hover
  @include buttonHover
  border: 1px solid #3A3B39

.anchor:hover:before
  @include buttonHoverBefore
