@import '../variables';

.contacts {
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 2% 0;
  overflow-x: hidden;
}

.container {
  width: 80%;
  max-width: 1280px;
  height: 100%;
  display: flex;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 92%;
  }
}

.mainBlock {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
}

.title {
  @include blocksTitle;
}

.contentBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10%;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: start;
  }
}

.block {
  width: 40%;
  line-height: 2;
  font-size: 15px;
  text-align: justify;
  margin-right: 40px;

  @media screen and (max-width: 1000px) {
    width: 92%;
  }
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 1000px) {
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    align-items: center;

    div {
      width: 100%;
    }
  }
}

.nameBlock, .emailBlock {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.item {
  @include contactElement;
}

.itemTextarea {
  @include contactElement;
  height: 100px;
  margin-bottom: 20px;
  width: 100%;
}

.validation {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 13px;
}

.sendButton {
  @include button;

  &:hover {
    @include buttonHover;
  }
}
